Repository Beastlex/diplom_project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines-front-prod.yml, azure-pipelines-front-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-back-prod.yml: any of: backend
  azure-pipelines-back-test.yml: any of: backend
  azure-pipelines-front-prod.yml: any of: frontend
  azure-pipelines-front-test.yml: any of: frontend
  azure-pipelines.yml: any of: backend

Update azure-pipelines-front-prod.yml for Azure Pipelines
  azure-pipelines-front-prod.yml
Due: none

Update azure-pipelines-back-prod.yml for Azure Pipelines
  azure-pipelines-back-prod.yml
Due: none

2022-03-10: cicd: Set up CI with Azure Pipelines
  azure-pipelines-new-front-test.yml
Due: none

2022-03-10: cicd: fix 03
  azure-pipelines-new-front-test.yml
Due: none

2022-03-10: cicd: Update azure-pipelines-new-front-test.yml for Azure Pipelines
  azure-pipelines-new-front-test.yml
Due: none

2022-03-10: cicd: front test pipeline fix
  chart/aks-alzver/charts/backend/values.yaml
  chart/aks-alzver/charts/frontend/values.yaml
  terraform/cluster.tf
Due: none

2022-03-10: cicd: front test pipeline fix 02
  azure-pipelines-new-front-test.yml
Due: none

2022-03-10: cicd: front test pipeline fix 03
  azure-pipelines-new-front-test.yml
Due: none

2022-03-10: cicd: Set up CI with Azure Pipelines for test back
  azure-pipelines-new-back-test.yml
Due: none

2022-03-10: cicd: back test pipeline fix 01
  azure-pipelines-new-back-test.yml
Due: none

2022-03-10: cicd: back test pipeline fix 02
  azure-pipelines-new-back-test.yml
Due: none

2022-03-11: front: test cicd fot test
  frontend/index.html
Due: azure-pipelines-front-prod.yml, azure-pipelines-front-test.yml

2022-03-11: back: test cicd fot test
  azure-pipelines-back-prod.yml
  azure-pipelines-back-test.yml
  azure-pipelines-front-prod.yml
  azure-pipelines-front-test.yml
  backend/README.md
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

Update index.html
  frontend/index.html
Due: azure-pipelines-front-prod.yml, azure-pipelines-front-test.yml

2022-04-01: cicd: update README.md
  README.md
Due: none
