Repository Beastlex/diplom_project: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines-front-prod.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-back-prod.yml: any of: backend
  azure-pipelines-back-test.yml: any of: backend
  azure-pipelines-front-prod.yml: any of: frontend
  azure-pipelines.yml: any of: backend

2022-03-09: cicd: Update azure-pipelines-back-test.yml for Azure Pipelines
  azure-pipelines-back-test.yml
Due: none

2022-03-09: Update azure-pipelines-back-test.yml for Azure Pipelines
  azure-pipelines-back-test.yml
Due: none

2022-03-09: cicd: fix 07
  chart/values-prod.yaml
Due: none

2022-03-09: cicd: fix 07
  chart/aks-alzver/templates/01-secret.yaml
Due: none

2022-03-09: cicd: fix 07 - 1
  chart/aks-alzver/templates/00-conf-map.yaml
Due: none

2022-03-09: cicd: fix 08 - 01
  chart/aks-alzver/templates/00-conf-map.yaml
Due: none

2022-03-09: cicd: fix 08 - 02
  chart/aks-alzver/templates/04-backend.yaml
Due: none

Update 02-job.yaml
  chart/aks-alzver/templates/02-job.yaml
Due: none

Update 00-conf-map.yaml
  chart/aks-alzver/templates/00-conf-map.yaml
Due: none

Update values-prod.yaml
  chart/values-prod.yaml
Due: none

Update values-test.yaml
  chart/values-test.yaml
Due: none

2022-03-09: backend: fix connection pool
  backend/src/db/models/index.js
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: backend: fix url db
  backend/src/db/config/config.js
  backend/src/db/models/index.js
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: backend: fix 11
  backend/src/db/config/config.js
  backend/src/migrate.sh
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: backend: fix bug with trim
  backend/src/db/config/config.js
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: It was hard day
  backend/src/db/config/config.js
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: backend: fix 12
  .gitignore
  backend/src/db/config/config.js
Due: azure-pipelines-back-prod.yml, azure-pipelines-back-test.yml, azure-pipelines.yml

2022-03-09: cicd: front Set up CI with Azure Pipelines
  azure-pipelines-front-test.yml
Due: none

2022-03-09: cicd: fron pipe fix
  azure-pipelines-front-test.yml
Due: none

2022-03-09: cicd: fornt test complete pipeline
  azure-pipelines-front-test.yml
Due: none

2022-03-09: frontend: test CI/CD
  frontend/index.html
Due: azure-pipelines-front-prod.yml

2022-03-09: cicd: fix CI/CD
  chart/values-test.yaml
  frontend/index.html
Due: azure-pipelines-front-prod.yml

Update azure-pipelines-front-test.yml for Azure Pipelines
  azure-pipelines-front-test.yml
Due: none

Update azure-pipelines-back-test.yml for Azure Pipelines
  azure-pipelines-back-test.yml
Due: none

2022-03-10: chart: big refactor
  chart/aks-alzver/charts/backend/Chart.yaml
  chart/aks-alzver/charts/backend/templates/backend.yaml
  chart/aks-alzver/charts/backend/templates/job.yaml
  chart/aks-alzver/charts/backend/values.yaml
  chart/aks-alzver/charts/frontend/.helmignore
  chart/aks-alzver/charts/frontend/Chart.yaml
  chart/aks-alzver/charts/frontend/templates/frontend.yaml
  chart/aks-alzver/charts/frontend/values.yaml
  chart/aks-alzver/templates/00-conf-map.yaml
  chart/aks-alzver/templates/conf-map.yaml
  chart/aks-alzver/templates/hpa.yaml
  chart/aks-alzver/templates/ingress.yaml
  chart/values-prod.yaml
  chart/values-test.yaml
Due: none

2022-03-10: cicd: change pipeline for subchart
  azure-pipelines-back-test.yml
  azure-pipelines-front-test.yml
  chart/aks-alzver/charts/backend/templates/job.yaml
Due: none

2022-03-10: cicd: fix pipelines
  azure-pipelines-back-test.yml
  azure-pipelines-front-test.yml
Due: none

2022-03-10: frontend: test pipeline
  frontend/index.html
Due: azure-pipelines-front-prod.yml

2022-03-10: Update azure-pipelines-front-test.yml for Azure Pipelines
  azure-pipelines-front-test.yml
Due: none

2022-03-10: cicd: fix helm deploy
  manifests/deployment-back-test.yml
  manifests/deployment-front-test.yml
Due: none

2022-03-10: chart: fix image tag
  chart/aks-alzver/charts/backend/values.yaml
  chart/aks-alzver/charts/frontend/values.yaml
Due: none

2022-03-10: chart: add replicas
  chart/values-prod.yaml
Due: none

Update azure-pipelines-front-prod.yml for Azure Pipelines
  azure-pipelines-front-prod.yml
Due: none
